<div class="main-container ace-save-state" id="main-container">

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <h4>-- Menu -- </h4>

				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li class="{{active_dashboard}}">
						<a href="/admin/dashboard">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="{{active_blog}}">
						<a href="/admin/blog">
							<i class="menu-icon fa fa-newspaper-o"></i>
							<span class="menu-text"> Blog </span>
						</a>

						<b class="arrow"></b>
					</li>
					<li class="{{active_about}}">
						<a href="/about">
							<i class="menu-icon fa fa-picture-o"></i>
							<span class="menu-text"> About </span>
						</a>
						<b class="arrow"></b>
					</li>
				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
